body{
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h2{
    padding: 15px;
    font-size: 40px;
    color:antiquewhite;
    text-align: center;
    text-decoration: overline underline;
    border-radius: 50px;
    background: #be650c;
    box-shadow: inset 20px -20px 60px #a2560a,
            inset -20px 20px 60px #db740e;
}

.card {
    height: 344px;
    width: 200px;
    display: inline-block;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 1em;
    box-shadow: 0 0 20px 8px #8e3200;
    ;
}
   
    /*Image*/
.card-image {
 height: 100%;
 width: 100%;
 position: absolute;
 transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
 background: rgb(40, 107, 40);
 background-image: url("./images/nolio.jpg");
}


.card-image.nolio {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgb(40, 107, 40);
    background-image: url("./images/nolio.jpg");
}


.card-image.coca {
 height: 100%;
 width: 100%;
 position: absolute;
 transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
 background: rgb(40, 107, 40);
 background-image: url("./images/coca.jpg");
}

    
.card-image.tesone {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgb(40, 107, 40);
    background-image: url("./images/tesone.jpeg");
}

.card-image.stars {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgb(40, 107, 40);
    background-image: url("./images/stars.jpg");
}

.card-image.papryczka {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgb(40, 107, 40);
    background-image: url("./images/papryczka.jpg");
}

.card-image.sandro {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgb(40, 107, 40);
    background-image: url("./images/da\ sandro.jpg");
}

.card-image.olio{
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgb(40, 107, 40);
    background-image: url("./images/olio.jpg");
}
.card-image.pizzahut {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: rgb(40, 107, 40);
    background-image: url("./images/pizza\ hut.jpg");
}

.card-image.kreska {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: rgb(40, 107, 40);
  background-image: url("./images/kreska.jpg");
}
   
   /*Description */
   .card-description {
    display: flex;
    position: absolute;
    /*gap: 1em;*/
    flex-direction: column;
    background-color: #f3d57a;
    height: 70%;
    bottom: 0;
    border-radius: 1em 1em 0 0;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
   }
   
   .card-description-avpn {
    display: flex;
    position: absolute;
    /*gap: 1em;*/
    flex-direction: column;
    background-color: #44b3fd;
    height: 70%;
    bottom: 0;
    border-radius: 1em 1em 0 0;
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 1rem;
    
   }
   
   /*Text*/
   .text-title {
    font-size: 1.4em;
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif
   }
   
   .text-body {
    font-size: 1em;
    line-height: 150%;
    padding-bottom: 20px;
   }
   
   
   /* Hover states */
   
   .card:hover .card-description {
    transform: translateY(100%);
   }

   .card:hover .card-description-avpn {
    transform: translateY(100%);
   }
   
   
   #myAudio {
    display: none;
  }

  #playButton {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
  }
  
  #playButton:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
  }
  
  #playButton:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  
  #playButton:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }

  #pauseButton {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
  }
  
  #pauseButton:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
  }
  
  #pauseButton:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  
  #pauseButton:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  
  .przyciski{
    margin: auto;
    width: 400px;
  }
  
  button {
    float: left;
    margin: 10px;
  }

  .muzyka{
    float: right;
  }
  
  #rotating-image {
    position: relative;
    bottom: 20px;
    right: 20px;
    max-width: 100px;
    max-height: 100px;
    z-index: 9999;
  }
  
  
  #rotating-image img {
    animation: rotate 10s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

